<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Devstack - Mobile apps, web design, and development company</title>
    <meta name="description" content="Devstack is a Nigerian-based software design and development company that builds websites, web apps, mobile apps, custom software, CRM applications, UI/UX design, branding, digital strategy, and other digital products to solve business problems.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Devstack - Mobile app, web design, and development company">
    <meta property="og:url" content="https://devstack.ng">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Devstack is a Nigerian-based software design and development company that builds websites, web apps, mobile apps, custom software, CRM applications, UI/UX design, branding, digital strategy, and other digital products to solve business problems.">
    <meta property="og:site_name" content="Devstack Technologies">

    <meta name="twitter:title" content="Devstack - Mobile app, web design, and development company">
    <meta name="twitter:description" content="Devstack is a Nigerian-based software design and development company that builds websites, web apps, mobile apps, custom software, CRM applications, UI/UX design, branding, digital strategy, and other digital products to solve business problems.">
    <meta name="twitter:image" content="https://www.devstack.ng/img/img-meta.jpg">
    <meta name="twitter:url" content="https://twitter.com/devstackng">

    <link rel="shortcut icon" type="image/png" href="icon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- Start of Async Drift Code -->  
    <script>  
    "use strict"; 

    !function() { 
      var t = window.driftt = window.drift = window.driftt || []; 
      if (!t.init) {  
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice.")); 
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) { 
          return function() { 
            var n = Array.prototype.slice.call(arguments);  
            return n.unshift(e), t.push(n), t;  
          };  
        }, t.methods.forEach(function(e) {  
          t[e] = t.factory(e);  
        }), t.load = function(t) {  
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script"); 
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";  
          var i = document.getElementsByTagName("script")[0]; 
          i.parentNode.insertBefore(o, i);  
        };  
      } 
    }();  
    drift.SNIPPET_VERSION = '0.3.1';  
    drift.load('6pnfm7xidwec'); 
    </script> 
    <!-- End of Async Drift Code -->
</head>

<body>
  <div id="vueProjects">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar s-navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img src="img/symph-logo.svg">
        </a>
        <button class="navbar-toggler" id="toggleNavbar" type="button">
            <img src="img/icons/nav-icon.svg">
        </button>

        <div class="collapse navbar-collapse" id="symphNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="work.html">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-cta">
                    <a class="nav-link" href="contact.html">Hire Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="home-banner">
        <div class="h-100 align-items-center d-flex">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 col-lg-5 header-headings">
                        <h2 class="h1">Our Work</h2>
                        <p class="mb0">From ideas turned into carefully crafted pixels and problems crafted into solutions.</p>
                        <a href="#our-work" class="cta-link --md mt40 caret-down color-brand">View work</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-2 categories__cta">
                        <p 
                          v-for="(category, index) in categories" 
                          :key="index" 
                          class="category_option"
                          :class="{ categoryActive: category.active }"
                          @click.prevent="filterProjects(category, index)"
                        >
                          {{ category.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-work">
        <div class="container works-container">
            <div class="row">
                <div v-for="(project, index) in filtered_projects" :key="index" class="col-md-5 offset-md-1 work-item">
                    <a target="_blank" :href="project.url">
                        <div class="scale-mask">
                            <img :src="project.image" class="img-fluid">
                        </div>
                        <h3>{{ project.name }}</h3>
                        <span>Web App</span><span>Mobile App</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="next-page-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <div>
                        <span class="label d-block">Next Page</span>
                        <a href="about.html" class="cta-link --lg">About Us</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="mobile-nav-container"></div>

    <footer id="footer">
        <section class="footer-section --wave d-flex align-items-end">
            <div class="container s-container d-none d-md-block">
                <div class="row cta-footer">
                    <div class="col">
                        <h3>Got a Project? Email Us</h3>
                        <a href="mailto:info@devstack.ng">info@devstack.ng</a>
                    </div>
                </div>
            </div>
        </section>
        <section  class="footer-section --footer-details">
            <div class="container s-container">
                <div class="row links-footer cta-footer">
                    <div class="col-12 d-md-none text-center mt60 mb40">
                        <h3>Got a Project? Email Us</h3>
                        <a href="mailto:info@devstack.ng">info@devstack.ng</a>
                    </div>
                    <div class="col-12 col-md-5 contact-details text-center text-md-left">
                        <p>10 Ayedun Close, Area 11, Garki, <br/
                            >FCT Abuja, Nigeria </p>
                    </div>
                    <div class="col-12 col-md-7 text-center text-md-right">
                        <ul class="footer-links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="work.html">Work</a></li>
                            <!-- <li><a href="#">Resources</a></li> -->
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                        <div class="social-media">
                            <a href="fb.me/devstackng" target="_BLANK"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/devstackng/" target="_BLANK"><i class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/devstackng" target="_BLANK"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/devstackng" target="_BLANK"><i class="fab fa-linkedin"></i></a>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 mt60 d-flex justify-content-center justify-content-md-start">
                        <a href="index.html"><img src="img/footer-logo.svg"></a>
                    </div>
                    <div class="col-12 col-md-6 mt60 text-center text-md-right">
                        <p class="made-with">Made with ❤️ at Devstack. </p>
                        <p class="copyright">© 2021 Devstack. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

  </div>

    <script src="js/projects.js"></script>

    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/modernizr-3.6.0.min"></script>
    <script src="js/main.min.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <!--   <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5025849.js"></script> -->
    <!-- End of HubSpot Embed Code -->

</body>

</html>
